				<!--#### Icons-->
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				</ul>

				<!-- Footer -->
					<footer id="footer">
						<a href="http://tshadows.com"> <p class="copyright">&copy;{{ .Site.Params.copyright }}</p> </a>
				<!--		<p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a>. Powered by <a href="https://www.gohugo.io/">Hugo.</a></p> -->
					</footer>

			</div>
		<!-- BG -->
			<div id="bg"></div>
			

		<!-- Scripts -->
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			{{ template "_internal/google_analytics_async.html" . }}

	</body>
</html>
