<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/project.css" />
		<link rel="icon" type="image/png" href="https://www.shareicon.net/download/128x128//2015/09/20/643436_image_512x512.png">
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
	<body>