{{ partial "header.html" . }}
    
    <!-- Wrapper -->
      <div id="wrapper">
      <a href="http://tshadows.com"><h2> 404 Page Not Found</h2></a>
      
      </div>

{{ partial "footer.html" . }}

